$todo-main-color: #4e50d3;
$todo-background-color: hsla(239, 60%, 57%, 0.65);
$progress-main-color: #32b0d6;
$progress-background-color: hsla(194, 67%, 52%, 0.65);
$completed-main-color: #c449d4;
$completed-background-color: hsla(293, 62%, 56%, 0.65);
$font-color: #ffffff;
$scroll-background-color: #ffffff;
$white-line: #ffffff;
$modal-text-color: #000000;
$modal-confirm-border: #ffffff;
$modal-background-color: #00000066;
$modal-shadow: 0px 0px 24px 0px #00000033;